@import '../../theme/_loader.scss';

page-home {

  h2 {
    margin: 12px;
    padding-left: 8px;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }

  .loader {
    @extend .loader;
  }
}
