<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3>Organization</h3>
  <div class="loader" *ngIf="!(repos$ | async)">loading...</div>
  <repositories
    *ngFor="let org of (repos$ | async)?.organizations.nodes"
    [title]="org.name"
    [repos]="org.repos.nodes"
  ></repositories>

  <h3>My Repositories</h3>
  <repositories [title]="'My Repos'" [repos]="(repos$ | async)?.own.nodes"></repositories>
  <repositories [title]="'Forked Repos'" [repos]="(repos$ | async)?.forked.nodes"></repositories>

</ion-content>
